body{
	background:f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:auto;
}

#main-header h1{
	padding-top:3
	text-align:center;
}

#showcase{
	background-image:url('images/moonqiishowcase.png');
	display:block;
}

.center{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:6%;
	padding-top:30px;
}

#navbar{
	background-color:#fff;
	color:#333;
}

#navbar ul{
	padding:0px;
	list-style:none;
	text-align:center;
}

#navbar li{
	display:inline;
	text-align:center;
}

#navbar a{
	color:#333;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
	text-align:center;
}

#showcase h1{
	color:#333;
	font-size:50px;
	line-height-1.6em
	padding-top:0;
	text-align:center;
}

#main{
	padding:0 30px;
	box-sizing:border-box;
	text-align:center;
}

#sidebar{
	padding:0 30px;
	box-sizing:border-box;
	text-align:center;
}

#contact-content{
	padding:0 30px;
	box-sizing:border-box;
	text-align:center;
	font-size:16px;
}

#main-footer{
	background:#333;
	color:#fff;
	text-align:center;
	padding:20px;
	margin-top:40px;
}

.tbl{
	margin-left:auto;
	margin-right:auto;
}

#warning{
	text-align:center;
}

.icons{
	display: block;
	margin-left:auto;
	margin-right:880px;
	width:6%;
	padding-top:30px;
}

#main-about{
	text-align:center;
}

#faq{
	text-align:center;
}

#disclaimer{
	text-align:center;
	color:red;
}

#main-legal{
	text-align:center;
}

#contact{
	text-align:center;
}

#notfound{
	text-align:center;
}

#xlifeexp{
	text-align:center;
}

#forbidden{
        text-align:center;
}
